<html>
    <head>
        <title>Demo API Reader</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar 
                app
                clipped-left
              >
                <v-toolbar-title>WDB.RESOURCE APIs</v-toolbar-title>
                <v-toolbar-items>
                        <v-btn 
                            text
                            :to="{ name: 'homepage'}"
                        >
                        API List
                        <v-icon>mdi-view-list</v-icon>
                        </v-btn>
                </v-toolbar-items>
              </v-app-bar>
              <v-content>
                <v-container fluid>
                  <v-fade-transition mode="out-in">
                    <router-view />
                  </v-fade-transition>
                </v-container>
              </v-content>      
            </v-app>
        </div>

        <template id="list-template">
            <div>
                <v-card
                    class="mx-auto"
                    max-width="400"
                    tile
                >
                    <v-list-item 
                        v-for="api in apis"
                    >
                        <v-list-item-content>
                            <v-list-item-title>
                                {{api.id}}
                            </v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                            <v-btn
                                fab
                                dark
                                small
                                color="green"
                                :to="{ name: 'api', params: {id: api.id}}"
                            >
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                        </v-list-item-icon>
                        <v-list-item-icon>
                            <v-btn
                                fab
                                dark
                                small
                                color="red"
                                @click="dAPI(api.id)"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </v-list-item-icon>
                    </v-list-item>
                    <v-btn
                        fab
                        dark
                        small
                        color="indigo"
                        :to="{ name: 'napi'}"
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-card>
            </div>
        </template>

        <template id="api-template">
            <div>
                <v-card
                class="mx-auto"
                max-width="400"
                tile
                >
                    <v-form 
                    method="post"
                    ref="form"
                    id="apiform"
                    name="apiform"
                    v-model="valid"
                    v-on:submit.prevent="onSubmit"
                    lazy-validation
                    >
                        <v-text-field
                            label="API ID"
                            id="apiid"
                            name="apiid"
                            v-model="api.id"
                            required
                            v-bind:readonly="api.id!=null"
                        ></v-text-field>
                        <v-text-field
                            label="Description"
                            id="description"
                            name="description"
                            v-model="api.desc"
                            required
                        ></v-text-field>
                        <v-text-field
                            label="Program"
                            id="program"  
                            name="program"
                            v-model="api.program"
                            required
                        ></v-text-field>
                        <v-checkbox
                            v-model="api.debug"
                            true-value="1"
                            id="debug"
                            name="debug"
                            :label="`Debug`"
                        ></v-checkbox>                                                                                                      
                        <v-btn
                        fab
                        dark
                        small
                        color="green"
                        @click="uAPI(this.apiform,api.id)"
                    >
                        <v-icon>mdi-check</v-icon>
                    </v-btn>
                    <v-btn
                        fab
                        dark
                        small
                        color="red"
                        @click="dAPI(api.id)"
                    >
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                    <v-btn
                        fab
                        dark
                        small
                        color="purple"
                        :to="{ name: 'homepage'}"
                    >
                        <v-icon>mdi-undo</v-icon>
                    </v-btn>
                    </v-form>
                    
                </v-card>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.5.3/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
        <script src="app.js"></script>
        <script>
    
</script>
    </body>
</html>